
form{
    text-align: center;
    
}

#container{
    width: 100%;
    border-style: solid;
    border-color:blue  ;
    border-width: 2px;
    display: inline-block;
    
}
#mainCont{
    border-style: solid;
    border-color: #E7E7E7  ;
    border-width: 2px;
    width: 30%;
   
    margin: 0 auto;
}